In [1]:
import pandas as pd
data = pd.read_csv("Iris.csv")
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [2]:
import numpy as np
c1 = np.array([5.1, 3.5, 1.4, 0.2])
c2 = np.array([6.3, 3.3, 4.7, 1.6])

In [3]:
A = data.iloc[:, :4]
A

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [4]:
d1= np.sqrt((c1[0] - A[["SepalLengthCm"]].values)**2 + (c1[1] - A[["SepalWidthCm"]].values)**2 +(A[["PetalLengthCm"]].values - c1[2])**2 + (A[["PetalWidthCm"]].values - c1[3])**2)
d2= np.sqrt((c2[0] - A[["SepalLengthCm"]].values)**2 + (c2[1] - A[["SepalWidthCm"]].values)**2 +(A[["PetalLengthCm"]].values - c2[2])**2 + (A[["PetalWidthCm"]].values - c2[3])**2)
for i in d1:
    print(i, end=",")

[0.],[0.53851648],[0.50990195],[0.64807407],[0.14142136],[0.6164414],[0.51961524],[0.17320508],[0.92195445],[0.46904158],[0.37416574],[0.37416574],[0.59160798],[0.99498744],[0.88317609],[1.1045361],[0.54772256],[0.1],[0.74161985],[0.33166248],[0.43588989],[0.3],[0.64807407],[0.46904158],[0.59160798],[0.54772256],[0.31622777],[0.14142136],[0.14142136],[0.53851648],[0.53851648],[0.38729833],[0.6244998],[0.80622577],[0.46904158],[0.37416574],[0.41231056],[0.46904158],[0.8660254],[0.14142136],[0.17320508],[1.34907376],[0.76811457],[0.45825757],[0.6164414],[0.59160798],[0.36055513],[0.58309519],[0.3],[0.2236068],[4.00374824],[3.61662826],[4.16413256],[3.09354166],[3.79209705],[3.41613817],[3.78549865],[2.34520788],[3.74966665],[2.88790582],[2.70370117],[3.22800248],[3.14642654],[3.7],[2.58069758],[3.62767143],[3.43511281],[3.00998339],[3.76828874],[2.88270706],[3.85356977],[3.0757113],[4.04722127],[3.65786823],[3.41613817],[3.59722115],[4.04722127],[4.24499706],[3.53128872],[2.49399278],[2.81780056],[2.70185122],[2.89482297],[4.13521463],[3.41174442],[3.51994318],[3.91152144],[3.6180105],[3.],[3.02158899],[3.31209903],[3.59583092],[3.00998339],[2.38746728],[3.15277655],[3.07408523],[3.12569992],[3.34514574],[2.0904545],[3.05777697],[5.2848841],[4.20832508],[5.30188646],[4.69041576],[5.05667875],[6.09507998],[3.591657],[5.63648827],[5.04777179],[5.63914887],[4.35660418],[4.51995575],[4.85386444],[4.19046537],[4.41701257],[4.6260134],[4.64542786],[6.2401923],[6.49846136],[4.14125585],[5.12152321],[4.02864742],[6.21128006],[4.10974452],[4.96990946],[5.31224999],[3.97743636],[4.00749298],[4.84045452],[5.09705797],[5.54616985],[6.01414998],[4.88057374],[4.16052881],[4.57055795],[5.78878226],[4.89182992],[4.60651712],[3.89615195],[4.79687398],[5.01996016],[4.63680925],[4.20832508],[5.25737577],[5.13614642],[4.65403051],[4.27668096],[4.45982062],[4.65080638],[4.14004831],

In [5]:
A["D1"]= np.array(d1)
A["D2"]= np.array(d2)
A

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,D1,D2
0,5.1,3.5,1.4,0.2,0.000000,3.785499
1,4.9,3.0,1.4,0.2,0.538516,3.860052
2,4.7,3.2,1.3,0.2,0.509902,4.011234
3,4.6,3.1,1.5,0.2,0.648074,3.889730
4,5.0,3.6,1.4,0.2,0.141421,3.824918
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,4.654031,0.994987
146,6.3,2.5,5.0,1.9,4.276681,0.905539
147,6.5,3.0,5.2,2.0,4.459821,0.734847
148,6.2,3.4,5.4,2.3,4.650806,1.000000
149,5.9,3.0,5.1,1.8,4.140048,0.670820

In [6]:
df = pd.DataFrame({'D1': [[0.], [0.53851648], [0.50990195], [0.64807407], [0.14142136], [0.6164414], [0.51961524], [0.17320508], [0.92195445], [0.46904158], [0.37416574], [0.37416574], [0.59160798], [0.99498744], [0.88317609], [1.1045361], [0.54772256], [0.1], [0.74161985], [0.33166248], [0.43588989], [0.3], [0.64807407], [0.46904158], [0.59160798], [0.54772256], [0.31622777], [0.14142136], [0.14142136], [0.53851648], [0.53851648], [0.38729833], [0.6244998], [0.80622577], [0.46904158], [0.37416574], [0.41231056], [0.46904158], [0.8660254], [0.14142136], [0.17320508], [1.34907376], [0.76811457], [0.45825757], [0.6164414], [0.59160798], [0.36055513], [0.58309519], [0.3], [0.2236068], [4.00374824], [3.61662826], [4.16413256], [3.09354166], [3.79209705], [3.41613817], [3.78549865], [2.34520788], [3.74966665], [2.88790582], [2.70370117], [3.22800248], [3.14642654], [3.7], [2.58069758], [3.62767143], [3.43511281], [3.00998339], [3.76828874], [2.88270706], [3.85356977], [3.0757113], [4.04722127], [3.65786823], [3.41613817], [3.59722115], [4.04722127], [4.24499706], [3.53128872], [2.49399278], [2.81780056], [2.70185122], [2.89482297], [4.13521463], [3.41174442], [3.51994318], [3.91152144], [3.6180105], [3.], [3.02158899], [3.31209903], [3.59583092], [3.00998339], [2.38746728], [3.15277655], [3.07408523], [3.12569992], [3.34514574], [2.0904545], [3.05777697], [5.2848841], [4.20832508], [5.30188646], [4.69041576], [5.05667875], [6.09507998], [3.591657], [5.63648827], [5.04777179], [5.63914887], [4.35660418], [4.51995575], [4.85386444], [4.19046537], [4.41701257], [4.6260134], [4.64542786], [6.2401923], [6.49846136], [4.14125585], [5.12152321], [4.02864742], [6.21128006], [4.10974452], [4.96990946], [5.31224999], [3.97743636], [4.00749298], [4.84045452], [5.09705797], [5.54616985], [6.01414998], [4.88057374], [4.16052881], [4.57055795], [5.78878226], [4.89182992], [4.60651712], [3.89615195], [4.79687398], [5.01996016], [4.63680925], [4.20832508], [5.25737577], [5.13614642], [4.65403051], [4.27668096], [4.45982062], [4.65080638], [4.14004831]],
                   'D2': [[3.78549865], [3.86005181], [4.01123422], [3.88973007], [3.8249183], [3.40734501], [3.93446311], [3.72827038], [4.07676342], [3.80657326], [3.62904946], [3.7188708], [3.93446311], [4.39317653], [3.86652299], [3.64005494], [3.76430604], [3.74966665], [3.36154726], [3.69052842], [3.43220046], [3.64417343], [4.31624837], [3.41320963], [3.47275107], [3.65376518], [3.57071421], [3.66742416], [3.75099987], [3.76031914], [3.72290209], [3.53553391], [3.78681925], [3.78153408], [3.80657326], [3.98873414], [3.76828874], [3.80657326], [4.14969878], [3.69459064], [3.8704005], [4.18210473], [4.14004831], [3.51283361], [3.31209903], [3.86264158], [3.64142829], [3.96862697], [3.65513338], [3.81313519], [0.73484692], [0.26457513], [0.67082039], [1.48996644], [0.55677644], [0.86023253], [0.], [2.25610283], [0.59160798], [1.5], [2.27596134], [0.71414284], [1.46628783], [0.48989795], [1.396424], [0.57445626], [0.79372539], [1.15325626], [1.12694277], [1.42126704], [0.46904158], [0.93273791], [0.83066239], [0.67082039], [0.64807407], [0.55677644], [0.74161985], [0.59160798], [0.54772256], [1.62788206], [1.58429795], [1.67630546], [1.18743421], [0.78102497], [0.97467943], [0.37416574], [0.45825757], [1.08627805], [1.01488916], [1.36381817], [1.17473401], [0.42426407], [1.17898261], [2.23830293], [1.09087121], [0.92736185], [0.92736185], [0.64807407], [2.28473193], [1.02956301], [1.58113883], [0.92736185], [1.55563492], [1.00498756], [1.30384048], [2.37486842], [1.62788206], [1.93907194], [1.43178211], [1.91572441], [0.60827625], [0.90553851], [1.10905365], [1.11803399], [1.14017543], [0.93273791], [0.9], [2.56320112], [2.78926514], [1.18321596], [1.36381817], [0.96953597], [2.52388589], [0.66332496], [1.18743421], [1.59687194], [0.55677644], [0.45825757], [1.14891253], [1.4525839], [1.8734994], [2.42074369], [1.19582607], [0.64807407], [1.17473401], [2.12132034], [1.2083046], [0.85440037], [0.47958315], [1.06770783], [1.28452326], [1.02469508], [0.92736185], [1.47986486], [1.40356688], [0.99498744], [0.90553851], [0.73484692], [1.], [0.67082039]]})

#view DataFrame
print(df)

               D1            D2
0           [0.0]  [3.78549865]
1    [0.53851648]  [3.86005181]
2    [0.50990195]  [4.01123422]
3    [0.64807407]  [3.88973007]
4    [0.14142136]   [3.8249183]
..            ...           ...
145  [4.65403051]  [0.99498744]
146  [4.27668096]  [0.90553851]
147  [4.45982062]  [0.73484692]
148  [4.65080638]         [1.0]
149  [4.14004831]  [0.67082039]

[150 rows x 2 columns]

In [7]:
Minimum_value = df.min(axis=1)
A["Minimum_value"] = df.min(axis=1)
A

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,D1,D2,Minimum_value
0,5.1,3.5,1.4,0.2,0.000000,3.785499,[0.0]
1,4.9,3.0,1.4,0.2,0.538516,3.860052,[0.53851648]
2,4.7,3.2,1.3,0.2,0.509902,4.011234,[0.50990195]
3,4.6,3.1,1.5,0.2,0.648074,3.889730,[0.64807407]
4,5.0,3.6,1.4,0.2,0.141421,3.824918,[0.14142136]
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,4.654031,0.994987,[0.99498744]
146,6.3,2.5,5.0,1.9,4.276681,0.905539,[0.90553851]
147,6.5,3.0,5.2,2.0,4.459821,0.734847,[0.73484692]
148,6.2,3.4,5.4,2.3,4.650806,1.000000,[1.0]
149,5.9,3.0,5.1,1.8,4.140048,0.670820,[0.67082039]

In [8]:
A.describe()

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,D1,D2
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.054000,3.758667,1.198667,2.890800,2.022918
std,0.828066,0.433594,1.764420,0.763161,1.875543,1.332178
min,4.300000,2.000000,1.000000,0.100000,0.000000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.618456,0.927362
50%,5.800000,3.000000,4.350000,1.300000,3.378445,1.442183
75%,6.400000,3.300000,5.100000,1.800000,4.268760,3.643487
max,7.900000,4.400000,6.900000,2.500000,6.498461,4.393177

In [9]:
flag = 0
for i in Minimum_value:
    for j in d1:
        if (i == j):
            flag = 1
            break
if flag:
    x = sum(j)/len(j)
    print("Average of Cluster C1:", x)
else:
    print("Not equal")

Average of Cluster C1: 4.1400483088968905

In [10]:
print(Minimum_value)

0             [0.0]
1      [0.53851648]
2      [0.50990195]
3      [0.64807407]
4      [0.14142136]
           ...
145    [0.99498744]
146    [0.90553851]
147    [0.73484692]
148           [1.0]
149    [0.67082039]
Length: 150, dtype: object

In [11]:
np_array_data = np.array(A)
np_array_data

array([[5.1, 3.5, 1.4, ..., 0.0, 3.7854986461495406, list([0.0])],
       [4.9, 3.0, 1.4, ..., 0.5385164807134502, 3.8600518131237567,
        list([0.53851648])],
       [4.7, 3.2, 1.3, ..., 0.509901951359278, 4.011234224026316,
        list([0.50990195])],
       ...,
       [6.5, 3.0, 5.2, ..., 4.459820624195552, 0.7348469228349533,
        list([0.73484692])],
       [6.2, 3.4, 5.4, ..., 4.650806381693394, 0.9999999999999999,
        list([1.0])],
       [5.9, 3.0, 5.1, ..., 4.1400483088968905, 0.6708203932499363,
        list([0.67082039])]], dtype=object)